/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a simple framework built on top of CSS
 * to help ease styling of common typographic and layout patterns. Feel free to play
 * around with it to see what effects and variables are available. The kitchensink
 * is preloaded with some elements you can try out.
 */

:root {
  --ifm-color-primary: #2e8b57;
  --ifm-color-primary-dark: #1f5c38;
  --ifm-color-primary-darker: #1a4b2f;
  --ifm-color-primary-darkest: #0d2818;
  --ifm-color-primary-light: #3da366;
  --ifm-color-primary-lighter: #52b86f;
  --ifm-color-primary-lightest: #7ec996;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #4db88d;
  --ifm-color-primary-dark: #3da366;
  --ifm-color-primary-darker: #36985c;
  --ifm-color-primary-darkest: #1f5c38;
  --ifm-color-primary-light: #5dbf99;
  --ifm-color-primary-lighter: #6ac4a3;
  --ifm-color-primary-lightest: #92d5ba;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
